<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DB</title>
<style>
    table, td, th {
        border-width: 1px;
        border-style: solid;
        border-collapse: collapse;
    }
</style>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Price (Baht)</th>
            </tr>
        </thead>
        <tbody>
            {% for product in all_product %}
            <tr>
                <td>{{product.id}}</td>
                <td>{{product.name}}</td>
                <td>{{product.price}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <p><a href="/">Back To Home</a>
</body>
</html>